/* Write your CSS here */
.not-found-bg-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
