/* Write your CSS here */
.match-card-container {
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0f172a;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
}
.competing-team-log {
  width: 50px;
  height: 50px;
}
.head {
  font-size: 20px;
  font-weight: normal;
}
.greenStyle {
  color: #18ed66;
}
.redStyle {
  color: #e31a1a;
}
.head {
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-result {
  padding-top: 10px;
  padding-bottom: 10px;
}
.status {
  padding-top: 10px;
  padding-bottom: 10px;
}
